@font-face {
    font-family: "Figtree-ExtraBold";
    src: url("../assets/fonts/static/Figtree-ExtraBold.ttf");
}

@font-face {
    font-family: "Figtree-SemiBold";
    src: url("../assets/fonts/static/Figtree-SemiBold.ttf");
}